# Data Structures- Python

#int, float, bool

#strings

#list

#tuple

#dict

#set

files- open & write

In [1]:
#int
a=7
print(a)
type(a)

7

int

In [2]:
#float
b=0.8
type(b)
b

0.8

In [3]:
type(b)

float

In [4]:
#Python as calculator: Arithmetic Operations
s=a+b
s

7.8

In [5]:
sub=20-19
sub

1

In [6]:
product=5*20
product

100

In [7]:
s=a+b
sub=20-19
product=5*20
print(s)
print(sub)
print(product)
#print(s,sub,product)

7.8
1
100

In [8]:
product1=a*b
product1

5.6000000000000005

In [9]:
#Division returns float type
division=20/5
print(division)
print("product of a and b is:",product1)

4.0
product of a and b is: 5.6000000000000005

In [10]:
#Bool
logical=True
print(logical)
type(logical)

True

bool

In [11]:
5>4

True

In [12]:
#Taking user input for variables
x=input()
print('Value of x is ', x)
print('Type of x is ', type(x))

4
Value of x is  4
Type of x is  <class 'str'>

In [13]:
y=int(input('Enter a number: '))
print('value of y is: ', y)
print('Type of y is: ', type(y))

Enter a number: 4
value of y is:  4
Type of y is:  <class 'int'>

In [14]:
m = float(input('Enter marks:'))
print('You have entered ', m)

Enter marks:5
You have entered  5.0

In [15]:
n=bool(input())

6

#Conditional Structures

- simple if statement

- if-else statement

- if - elif statement

- nested if statements

In [16]:
#example of simple if-statement
x=60

print('Example of if-statement')
if x>40 :
    print('Pass')
    print('Congrats')
    
print('Example of if is over')

Example of if-statement
Pass
Congrats
Example of if is over

In [17]:
x=50
y=60
if x>=50 and y<=60:
    print('pass')

pass

In [18]:
#illustration of if-else

x=int(input('Enter marks:'))

if x>=40:
    print('pass')
else:
    print('Fail')

Enter marks:6
Fail

In [19]:
# Illustration of elif

x=int(input('Enter marks:'))

if x>=75:
    print('Distinction')
elif x>=60:
    print('First class')
elif x>=50:
    print('Second class')
elif x>=40:
    print('pass')
else:
    print('fail')

Enter marks:7
fail

In [20]:
#Example of nested-if 
x=20
y=10
if x<=20:
    if y<=10:
        print('between 10 and 20')

print('hello')

between 10 and 20
hello

# Iterative Structures

while loop

for loop

In [21]:
#Simple example for while loop

x=4

while x>=0:
    print(x)
    x=x-1    #x =3

print('while loop is over')

4
3
2
1
0
while loop is over

In [22]:
# loop with unknown number of iterations, illustration of break

while True:
    x=int(input("Enter a number:"))
    if x>= 0:
        print("You have entered ",x)
    else:
        print("You have entered a negative number!!")
    break

Enter a number:8
You have entered  8

In [23]:
# for loop using range() function

for i in range(5):    #Syntax: range(start, end, step)  
    print(i)            # encounters only up to end-1

0
1
2
3
4

In [24]:
for i in range(3,10,3):
    print(i)

3
6
9

In [25]:
5//2

2

In [26]:
5%2

1

In [27]:
# string, list, tuple and dict

# strings
A sequence of characters, enclosed either within a pair of single quotes or double quotes.

The characters of a string can be accessed using index enclosed within square brackets.

In [295]:
text='Introduction to Python'
type(text)

str

In [296]:
#Arithmetic operations on text
#+ concatenates two strings
text1=' and data manipulation with python'
topic=text+text1 #text and text1 same type
topic

'Introduction to Python and data manipulation with python'

In [30]:
text+2

TypeError: can only concatenate str (not "int") to str

In [297]:
text+"2"

'Introduction to Python2'

In [298]:
text+str(2)

'Introduction to Python2'

In [299]:
text  * 3

'Introduction to PythonIntroduction to PythonIntroduction to Python'

In [300]:
#Question: Can a variable name start with a number in Python?
5_x=3

SyntaxError: invalid token (<ipython-input-300-66a335e08835>, line 2)

In [301]:
_x=3 #Variable name can start with _
_x

3

#Class Exercise

- Print the word 'Hello world'

- Give output of the value of x is 10

- Give output of the type of x

- Give output in the form of 'the value of x is 10'.

- Print boolean type of variable

- Do mathematical operations on two numbers(x=10, y=8)

- Print 2 to the power 4

- Print 7 to the power 5

In [ ]:
#Print the word 'Hello world'
print("'Hello World'")

In [ ]:
#Give output of the value of x is 10#
x=10
x

In [ ]:
#Give output of the type of x
type(x)

In [ ]:
#Give output in the form of 'the value of x is 10'.
print("The value of x is ",x)

In [ ]:
#Print boolean type of variable
B=True
B

In [ ]:
#Do mathematical operations on two numbers(x=10, y=8)
x=10
y=8
print(x+y)
print(x-y)
print(x*y)
print(x/y)

In [ ]:
#Print 2 to the power 4
print(2**4)
#Print 7 to the power 5
print(7**5)

In [ ]:
#Apply relational operators on two numbers (>,<,>=,<=,==,!=)
6>5

In [ ]:
5<=2

In [ ]:
a=10
b=3
a>=b

In [ ]:
a!=b

In [ ]:
#Apply logical operator on two numbers(and, or, not)
y=5

In [ ]:
x=not y
print(x)

In [ ]:
x=12
x>5 and y<4

In [ ]:
x>5 or y>4

#class Exercise

Apply relational operators on two numbers (>,<,>=,<=,==)

Apply logical operator on two numbers(and, or, not)

# DAY 2

#strings, list, tuple and dict are iterables

 Iterable: When you can iterate over an object(access each element in the object)[give ability to do index and write for loop]
 
#Iterator: Iterables returns iterators

In [ ]:
#strings
s="saturday"
print(s)

In [ ]:
s[1]

In [ ]:
s[0]

In [ ]:
s[2:5]
#[start:end] end is exclusive

In [ ]:
s[:]

In [ ]:
s[:4]

In [ ]:
s[2:]

In [ ]:
# Negative Indexing - starts from the end of the string. 
# Last character is indexed as -1

#h e l l o
 #0 1 2 3 4  (len-1)
#-5-4-3-2-1
 

var='how are you?'
print(var[-1])
print(var[-4])

In [ ]:
#s[-1]=s[7]
s[-1]

In [ ]:
var[:-2]#starts from 0th position and end with -3rd position

In [ ]:
var[-3:]

In [ ]:
s

In [ ]:
s[::3]#(start:end:step)

In [ ]:
st='Hello World'   # 0-H , 1- e , 2-l, 3-l, 4-o, 5-  , 6-W.....
print(st[ : :3])    # HloWrd

In [ ]:
#Reverse of a string
st[::-1]

In [ ]:
s[::-2]

In [ ]:
s[:-2]

In [ ]:
for i in s:
    print(i)

In [ ]:
type(i)

In [ ]:
for i in var:
    print(i)

In [ ]:
# in operator: To check whether a substring is within a string
'el' in 'hello'

In [ ]:
#simple if statement
x=65
if x>40:
    print('pass')
#print('Better luck next time')

In [ ]:
#if else statement
x=20
if x>40:
    print('pass')
else:
    print('Better luck next time')

In [ ]:
#if- elif statement
x=75
if x>61:
    print('first class')
elif 40<x<=60:
    print(" second class")
else:
    print("pass")

In [ ]:
#nested if statement
x=50
y=86
if x>40:
    if y>80:
        print("Good")
else:
    print('Bad')

In [ ]:
#1. Create int object and convert it into string object

In [ ]:
#2.Create 2 string objects and do concatenation

In [ ]:
#3.Do indexing on string object

In [ ]:
#4.create for loop on string object

In [ ]:
#5. Add '55' in between of two string objects

#Class Exercise
1. Create int object and convert it into string object
x=4
y=str(x)

2. Create 2 string objects and do concatenation
first="welcome'
second="to the country"
print(first+second)

3.Do indexing on string object :
    extract from 1 st element
    
    first[0:]
    first[:]
    
    extract from last element(negative index)
    
    first[:-1] (end is exclusive)
    
    extract range of elements
    
    first[3:5]
    
    Apply double colon
    
    first[::2]
   
    
 4. By using user input function to create int variable
 x=int(input()) (or) x=input()
 
4. create for loop on string object

for t in first:
    print(t)
    
    
5. first+"55"+second
 
 
6. create if else, if-elif, nested if statements

if first[0]=='W':
    print("Hello")
elif first[3]=='c':
    print('Bye')
else:
    print("None")

In [ ]:
s='this is welcome news'
for i in range(0,len(s)+1):
    print(s[-i::])

In [ ]:
#class exercises

In [ ]:
#1. Print first 10 odd numbers

In [ ]:
start=0
end=20
while(start<=end):
    if (start%2!=0):
        print(start)
    start=start+1

In [ ]:
#2. Add two numbers provided by the user

In [31]:
x=int(input())
y=int(input())
z=x+y
z
print('the sum of {0} and {1} is {2}'.format(x,y,z))

4
6
the sum of 4and 6 is 10

In [ ]:
#3. Find the sum of first 50 natural numbers

In [ ]:
n=50
if n<0:
    print('enter a +ve no')
else:
    sm=0
    while(n>0):
        sm=sm+n
        n=n-1
    print(sm)

In [ ]:
#4.Write a program to find the sum of squares of n natural numbers

In [1]:
n=int(input())
sm=0
for i in range(1,n+1):
    sm=sm+i*i
print(sm)

2
5

In [ ]:
#5. Write a program to check if a number is prime or not

In [47]:
n=int(input())

if n>1:
    for i in range(2,n):
        if(n%i)!=0:
            print(n,"is not a prime number")
            break
        else:
            print(n,"is a prime number")

5
5 is not a prime number

In [ ]:
#6.Home exercise :Input three numbers. Find out smallest one

In [ ]:
#7.Home Exercise: Convert given decimal to binary

In [86]:
def decimalToBinary(value):
    if value < 0: #Base case if number is a negative
        return 'Not positive'
    elif value == 0: #Base case if number is zero
        return (0,)
    else:
         return decimalToBinary(value//2) + (value%2,)

print (decimalToBinary(2.0))

(0, 1.0, 0.0)

In [87]:
bin(2)

'0b10'

#Recap

Data Science Process

Python

Data Structures (int, float, strings)

iterable and iterator

indexing/slicing, loop

In [22]:
#strings are immutable
first="welcome"
second="to the country"

In [23]:
first[0]='S'

TypeError: 'str' object does not support item assignment

In [24]:
#change 0th position as 'S' in the string object 'first'
"s"+first[1:]

'selcome'

In [ ]:
# Alternative method 
#Change 3rd position element
first1= first[:3]+"t"+first[4:]
print(first1)

In [ ]:
#add element inbetween
first1= first[:4]+"t"+first[4:]
print(first1)

In [25]:
s='saturday'
print(dir(s))   # returns associated function and methods with the given object

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [26]:
upper(s)

NameError: name 'upper' is not defined

In [27]:
s.upper()

'SATURDAY'

In [28]:
s.capitalize()

'Saturday'

In [ ]:
?s.upper

In [29]:
help(s.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [48]:
# split() function
s='Hello how are you?'
ls=s.split(' ')   # default value for split is space
print(ls)

['Hello', 'how', 'are', 'you?']

In [49]:
st="HELLO"
st.startswith("he")

False

In [50]:
# alternatively
st.lower().startswith("he")

True

In [ ]:
# S.startswith(prefix [, start[, end]])
# Return True if S starts with the specified prefix, False otherwise.
# With optional start, test S beginning at that position.
# With optional end, stop comparing S at that position.

In [51]:
st="hello world"
st.startswith("world",6)

True

In [52]:
st="xyz abc pqr ab mn gh"
st.startswith("pqr ab mn",8,12)

False

In [53]:
st.startswith("pqr ab mn",8,18)

True

In [54]:
s="welcome to all."

In [55]:
s.endswith('all')

False

In [ ]:
?s.rfind

In [56]:
# find() function displays index position of the element in the string

st='hello world'
print(st.find('o'))

4

In [57]:
s='hello how are you?'
len(s)

18

In [58]:
max(s)

'y'

In [59]:
# strip() to remove extra characters at the beginning 
#and at the end of the string

st= "     hello world                "
print(st)
st1 = st.strip()#by default, it will remove additional spaces
print(st1)

     hello world
hello world

In [60]:
st="$#!$$#$ hello $$$$$#$$$!$$$"
st1=st.strip('$#!')  # Give the required character to be removed
print(st1)

 hello

# function and methods

In [ ]:
#Functions are called by its name
#Functions are independent of object or class
#Objects are passed explicitly
#Aimed to perform a particular task

In [ ]:
#Methods are called by its name
#Methods are dependent/associated with on object

In [ ]:
#Functions:

#user defined [has name, it helps to divide programs into 
#modules, make the code easier to manage] 

#built in functions [len(), min(),max(),type()...]

#lambda function [doesn't need name. Use lambda keyword]
#lambda arguments:expression

In [61]:
#user defined
#def keyword before a name is to be followed by () and colon
def hello():
        return "hello"

In [62]:
x=hello()

In [63]:
print(x)

hello

In [ ]:
#write the user defined function of the square of the 
#                  sum of two numbers

In [ ]:
def sq(x,y):
    return(x**2+ y**2)
sq(1,3)

In [ ]:
#write the function of average of two numbers

In [ ]:
def avg(x,y):
    return (x+y)/2
avg(2,3)

In [ ]:
# square of a number
def square(x):
    return x**2
square(3)

In [64]:
#lambda fun
#syntax:lambda arguments:expression
#[can have more arguments, but only one expression]
# square of a number
square=lambda x:x**2

In [65]:
square(3)

9

In [66]:
s=lambda x=int(input()),y=int(input()):x+y
s()

2
3

5

In [ ]:
sum1=lambda x,y:x+y
sum1(2,3)

In [ ]:
#class exercise

In [ ]:
#Write a Python function to find the Max of three numbers

In [67]:
def m(x,y,z):
    return max(x,y,z)
m(6,10,8)

10

In [68]:
m=lambda x,y,z:max(x,y,z)
m(9,1,3)

9

In [69]:
assign_txt="this is a sentence with a number 56 here and 72 here"

In [ ]:
#1.figure out programatically how many times 'here'occurs
#2.count how many time numbers occur in this sentence

In [70]:
print(dir(assign_txt))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [71]:
#1.figure out programatically how many times 'here'occurs
assign_txt.count("here")

2

In [72]:
assign_txt.count("with")

1

In [73]:
for i in assign_txt.split(" "):
    print(i)

this
is
a
sentence
with
a
number
56
here
and
72
here

In [74]:
#2.count how many time numbers occur in this sentence
count=0
for i in assign_txt.split(" "):
    if i.isnumeric():
        count=count+1
        #count+=1
        print(i)
print(count)

56
72
2

# Day 3

# Lists

In [4]:

#An ordered sequence of values enclosed within square-brackets.
#Lists are mutable: can be modified.
#Very important and useful data structure in the study of AI, ML, DL etc.
# List can contain multiple data types
#A mutable ordered sequence of elements,contained within square brackets [].
#lists are iterbles
#mixed type
newlist=[5,5.5,"Age",True]
newlist

[5, 5.5, 'Age', True]

In [6]:
#lists are mutable
newlist[0]=6
newlist

[6, 5.5, 'Age', True]

In [5]:
#create empty list
ls=[]   #or
ls1=list() 
print(ls)

[]

In [8]:
#list of numbers
#list of strings
ls1=[1,2,3,4]
ls2=["r","t","p"]
print(ls1)
print(ls2)

[1, 2, 3, 4]
['r', 't', 'p']

In [9]:
#extract 2nd element from 'newlist'
newlist[1]

5.5

In [10]:
newlist[2:5]

['Age', True]

In [11]:
newlist[:]

[6, 5.5, 'Age', True]

In [12]:
newlist[3:]

[True]

In [ ]:
#extract 'g' from newlist
newlist=[5,5.5,"Age",True]

In [14]:
newlist[2][1]

'g'

In [15]:
newlist[2][2]

'e'

In [16]:
#extract the list [3,4]
#extract '4'
ls3=[25, 31,[3,4], -5]
print(ls3[2])

[3, 4]

In [17]:
print(ls3[2][1])

4

In [21]:
#extract '5'
#extract 'c'
ls4=["swing",["tree",87,[43,"abcde",True,[1,5,6]]],19]
ls4[1][2][3][1]

5

In [25]:
ls4[1][2][1][2]

'c'

In [29]:
#class exercise
#How to extract 89
first=[-2, 34, 5, [56,81, [43,89], 67 ], 10, 23]
first[-3][-2][-1]

89

In [31]:
#How to extract 'e'
ls4=[3.5, 'Tiger', 10, [3,4]]
ls4[1][3]

'e'

In [32]:
print(dir(ls4))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [41]:
#extend
ls1= [1,2,3]
ls2= [5,6]
ls1.extend(ls2)   #extend a list
print(ls1)
print(ls2)

[1, 2, 3, 5, 6]
[5, 6]

In [43]:
#append
ls1= [1,2,3]
ls2= [5,6]
ls1.append(ls2)
print(ls1)

[1, 2, 3, [5, 6]]

In [44]:
#append
newlist.append(8)
newlist

[6, 5.5, 'Age', True, 8]

In [ ]:
?newlist.insert
#newlist.insert(index,value)

In [46]:
newlist.insert(3,8)
newlist

[8, 6, 5.5, 8, 'Age', True, 8]

In [47]:
#pop
newlist.pop()

8

In [48]:
newlist

[8, 6, 5.5, 8, 'Age', True]

In [49]:
newlist.pop(2)

5.5

In [50]:
newlist

[8, 6, 8, 'Age', True]

In [52]:
#remove
newlist.remove(6)

In [53]:
newlist

[8, 8, 'Age', True]

In [54]:
#reverse
ls1= [1,2,3]
ls1.reverse()
ls1

[3, 2, 1]

In [55]:
#index (returns position of the element)
#ls1.index(value)
ls1.index(1)

2

In [56]:
### Applying + and * on lists
ls1=[1,2,3]
ls2=[5,6,7]
print(ls1 + ls2)

[1, 2, 3, 5, 6, 7]

In [57]:
# the * operator on lists does repetition of the lists
ls1=[1,2,3]
print(ls1 * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#List slicing
#listname[start:end]
t=['a','b','c','d','e']
#1               # index
print(t[2:4])    # 2, 3

#2
print(t[:3])   # 0,1,2

#3
print(t[1:])  # 1 till end

#4
print(t[:])   # from 0 till end - full list

#5
print(t[:-2])  # from 0 till -3

#6
print(t[::-1])  # reverse

In [62]:
ls1=[5,4,1,9]
ls1

[5, 4, 1, 9]

In [63]:
#Sort the list in ascending order
sorted(ls1) #explicitly passed the object 'l'

[1, 4, 5, 9]

In [64]:
ls1

[5, 4, 1, 9]

In [65]:
#Sort in descending order
sorted(ls1,reverse=True)

[9, 5, 4, 1]

In [66]:
new=['u','i','a']
sorted(new)

['a', 'i', 'u']

In [67]:
new

['u', 'i', 'a']

In [68]:
#difference between function and method [sorted()fun  and sort() method]
#sort method
new.sort()

In [69]:
new

['a', 'i', 'u']

In [70]:
second=[9,2,3]
sorted(second)

[2, 3, 9]

In [71]:
second

[9, 2, 3]

In [72]:
second.sort()

In [73]:
second

[2, 3, 9]

In [ ]:
#len(), min(),max()

In [74]:
## copying one list from the other OR creating one list from existing list
list2=[1,2,5,2,1,3,2,10]
list3=list2.copy() # copy method will not affect the original list
print(list3)
print(list2)

[1, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [75]:
list3[0]=7
print(list3)
print(list2)

[7, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [76]:
list3=list2            #'=' will affect the original list
list3

[1, 2, 5, 2, 1, 3, 2, 10]

In [77]:
# Change one value in list3, it affects list2 as well
list3[0]=9
print(list3)
print(list2)

[9, 2, 5, 2, 1, 3, 2, 10]
[9, 2, 5, 2, 1, 3, 2, 10]

In [87]:
# split the dates into day, month and year
dt="13-04-2019"
dt.split("-")

['13', '04', '2019']

In [88]:
#loop
for i in list3:
    print(i)

9
2
5
2
1
3
2
10

In [ ]:
#for loop
#list comprehension
# map function

# List Comprehension
#one line expression of for loop

In [89]:
a=[1,2,3,4]

In [90]:
# square of each element in a list 'a'
a**2 #  list is not a vectorization type

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [91]:
#create a list which has square of the elements in the list a
#for loop
b=[]
for i in a:
    b.append(i**2)
print(b)

[1, 4, 9, 16]

In [92]:
#list comprehension
[i**2 for  i in a]

[1, 4, 9, 16]

In [93]:
#map function
def square(x):
    return x**2

[3, 2, 3]

In [96]:
#map function (applies a function on a given iterable)
#syntax:map(fun,iterable)
b=[3,4,5]
map(square,b) #returns generator object (wrap it out by list)
list(map(square,b))

[9, 16, 25]

In [97]:
#lambda function
list(map(lambda x:x**2,a))

[1, 4, 9, 16]

In [115]:
#Exercise
#Given this nested list, use indexing to grab the word "hello"
w = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [116]:
# Given a two list. Create a third list by picking an odd-index element from 
                           #the first list and even index elements from second.
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]

In [117]:
# Given an input list removes the element at index 4 and add it to the
                   #2nd position and also, at the end of the list
sampleList = [54, 44, 27, 79, 91, 41]

In [118]:
#solutions

In [119]:
#to grab the word "hello"
w[3][1][2][0]

'hello'

In [120]:
# Given a two list. Create a third list by picking an odd-index element from the first list
#and even index elements from second.
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
odd=listOne[1::2]
print(odd)
even=listTwo[0::2]
print(even)

listthree=[]

listthree.extend(odd)
listthree.extend(even)

print(listthree)

[6, 12, 18]
[4, 12, 20, 28]
[6, 12, 18, 4, 12, 20, 28]

In [121]:
#alternate way
listthree=odd+even

In [122]:
# Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list
sampleList = [54, 44, 27, 79, 91, 41]

element=sampleList.pop(4)
sampleList.insert(2,element)
sampleList.append(element)

In [123]:
sampleList

[54, 44, 91, 27, 79, 41, 91]

In [176]:
l=["sou","sel","pig","tru"]

while l[0]=='s':
    l=l.remove(i)
    print(l)

In [124]:
#Use lambda expressions and the filter() function to filter out words from a list
                                                  #that don't start with the letter 's'
#use filter() function

seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]!='s',seq))

['dog', 'cat', 'great']

In [127]:
#method 2:
for x in seq:
    if x[0]!='s':
        print(x)

dog
cat
great

In [149]:
cities=['Delhi','pune','chennai','kol']
#filter the list whether length of the element is greater thatn 6.
#apply for loop, list comprehension, map

In [148]:
cities=['Delhi','pune','chennai','kol']
#filter the list whether length of the element is greater thatn 6.
for i in cities:
    if len(i)>6:
        print(i)

chennai

In [150]:
#list comprehension
[i for i in cities if len(i)>6]

['chennai']

In [ ]:
#filter and lambda
list(filter(lambda x: len(x)>6,cities))

In [ ]:
#class exercise
email = "chetana@gmail.com"
# separate name and domain name 
# name = xyz, domain = gmail.com
email.split('@')

In [177]:
#Adding 1 value to each element in the list:
l=[1,2,3,4,5]

In [178]:
#Adding 1 value to each element in the list:
l=[1,2,3,4,5]
for i in l:
    i=i+1
    print(i)

2
3
4
5
6

In [179]:
#List comprehension
[i+1 for i in l]

[2, 3, 4, 5, 6]

In [180]:
#lambda fn
list(map(lambda i:i+1,l))

[2, 3, 4, 5, 6]

# Tuple

A tuple is a sequence of items, similar to lists.

Tuple is denoted by ()

The values stored in the tuple can be of any type and they are indexed using integers.

Tuples are immutable.

Tuples are iterables.

Hence, they can be made as keys in dictionaries.

In [181]:
 #Create empty tuple
t1=()  #or
t2=tuple()
print(t1)
print(t2)
print(type(t1))
print(type(t2))

()
()
<class 'tuple'>
<class 'tuple'>

In [182]:
t3=(3,4,5)
t3

(3, 4, 5)

In [183]:
print(dir(t3))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [184]:
j=(1,2,3,'hi',7)
j

(1, 2, 3, 'hi', 7)

In [185]:
#indexing
#extract 'hi'
#extract the range of items like position 3 to 5
print(j[3])
print(j[1:4])
print(j[:])

hi
(2, 3, 'hi')
(1, 2, 3, 'hi', 7)

In [186]:
s=(5,6,"wel",[2,3,7],["horse","pig"])
s

(5, 6, 'wel', [2, 3, 7], ['horse', 'pig'])

In [187]:
#extract "horse"from tuple s
#extract 'i'
#extract  7
s[4][0]

'horse'

In [188]:
s[4][1][1]

'i'

In [189]:
s[3][2]

7

In [193]:
s[3][1]=8
s

(5, 6, 'wel', [2, 8, 7], ['horse', 'pig'])

In [194]:
#for loop
for i in s:
    print(i)

5
6
wel
[2, 8, 7]
['horse', 'pig']

In [195]:
#swap
x=10
y=20
# swapping two numbers
x,y=y,x
print("x is",x, " and y is ",y)

x is 20  and y is  10

# Dictionary

#Dict[Key:value pairs,{}]
#A collection of unordered set of key:value pairs
#keys are unique in one dictionary.
#the values in dictionary are accessed using keys, not indices
#A key in dictionary can be any immutable type like strings, numbers and tuples.

In [196]:
# Creating empty dictionary
d = {}         # empty list: [] or list(), empty tuple:  () or tuple()
print(d)

d1=dict()
print(d1)

print(type(d))

{}
{}
<class 'dict'>

In [197]:
d3={'first':4,'second':9}
d3

{'first': 4, 'second': 9}

In [199]:
d3['first']

4

In [252]:
d4={'first':[1,2,3],'second':["a","b"],'third':(5,6,7),'fourth':'jigsaw'}
d4

{'first': [1, 2, 3],
 'second': ['a', 'b'],
 'third': (5, 6, 7),
 'fourth': 'jigsaw'}

In [255]:
#extract '3' from d4
d4['first'][2]

3

In [253]:
#extract [1,2,3] from d4
d4['first']

[1, 2, 3]

In [256]:
#extract 'b'
d4['second'][1]

'b'

In [257]:
#extract 'w'
d4['fourth'][5]

'w'

In [263]:
d4

{'first': [1, 2, 3],
 'second': ['a', 'b'],
 'third': (5, 6, 7),
 'fourth': 'jigsaw'}

In [261]:
d4['first'and'second']

['a', 'b']

In [ ]:
#dict of dictionary

In [265]:
#Extract 'z'
d1={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}

In [269]:
d1['one']['el_one'][3]['el_two']

'z'

In [273]:
# Extract "merge"
#extract 3
dict1={'new':[9,4,5,["split","merge",10]],'old':("se",17,0),
       'mid':{'junaid':2,'shivani':3,'last':"poor"}}

dict1['new'][3][1]

'merge'

In [275]:
dict1['mid']['shivani']

3

# Sets

A set is an unordered ,unindexed collection of elements.

Every element is unique (no duplicates) and must be immutable

(which cannot be changed).

Sets can be used to perform mathematical set operations like union,

intersection, symmetric difference etc.

In [276]:
# Creating sets

s=set()         
print(type(s))
print(s)

<class 'set'>
set()

In [277]:
s= {'apple', 'banana', 'orange'}    
print(s)

{'banana', 'apple', 'orange'}

In [278]:
# What is so special about sets?
s= {'apple', 'banana', 'orange', 'banana'}
print(s)

{'banana', 'apple', 'orange'}

In [279]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [280]:
# Basic function on sets
s.add('cherry')
print(s)

{'banana', 'apple', 'cherry', 'orange'}

In [281]:
s.add('lemon')
print(s)

{'apple', 'lemon', 'orange', 'banana', 'cherry'}

In [283]:
s.update('hi')
s

{'apple', 'banana', 'cherry', 'h', 'i', 'lemon', 'orange'}

In [7]:
s.update(['grapes', 'papaya'])
print(s)

{'cherry', 'grapes', 'straw', 'papaya', 'orange', 'lemon', 'apple', 'banana'}

In [285]:
s.remove('cherry')
print(s)

{'apple', 'lemon', 'orange', 'banana', 'i', 'h'}

In [286]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [287]:
set3.intersection(set2)

{1, 2, 3}

In [288]:
ls=[34,12,45,34,67,34,90,21,34]

s=set(ls)
s

{12, 21, 34, 45, 67, 90}

In [ ]:
#https://github.com/nithyasatheesh/Data-structures-in-python

# Files

Reading files

Manipulating data in file objects

Writing out files

In [290]:
f=open('D://Files//sample.txt','r')
fo=f.read()
print(fo)
print(type(f))
print(type(fo))
f.close()

I would love to try or hear the sample audio your app can produce. I do not want to purchase, because I've purchased so many apps that say they do something and do not deliver.

Can you please add audio samples with text you've converted? I'd love to see the end results.

Thanks!
<class '_io.TextIOWrapper'>
<class 'str'>

In [291]:
fo[0:7]

'I would'

In [292]:
g=open('D://Files//copy.txt','w')
for i in fo:
    g.write(i)
print(g)
g.close()

<_io.TextIOWrapper name='D://Files//copy.txt' mode='w' encoding='cp1252'>

In [293]:
h=open("D://Files//copy2.txt",'w')
h.write("Welcome")
h
h.close()

In [ ]:
with open("D://Files//sample1.txt","r") as g:
    dat=g.read()
print(dat)

###Recap Exercises- Data Structures (lists, tuple, dictionary)
1. Create list, tuple and dictionary

ls=[1,2,'p',9]
t=(1,5,'i')
d={'w':0,'y':9}

#for loop in dictionary
for i in d:
    print(d[i])
2. pop(), remove(),sort()- methods on list

3. Find the product of two numbers using user defined function, lambda function , for loop, map(), list comprehension

In [ ]:
d={'w':0,'y':9}
for i in d:
    print(d[i])